# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# local environment settings
.env
.env.*
!.env.example

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude package locks
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
bun.lock
