/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.bot-settings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tg-inbox-allowed-users textarea {
  width: 200px;
  height: 100px;
  resize: vertical;
}

.tg-inbox-sync-status {
  font-size: 0.8em;
}

.tg-inbox-setting-disabled>.setting-item-info * {
  color: var(--text-faint);
}
